html body {
	background-color:#fff; /*BG1*/
	color:#000; /*T1*/
}
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {
	background-color:transparent;
}
h1, h2, h3, h4, h5, h6 {
	color:#FBCB09; /*T5*/
}

h1 {
	text-align: center;
  font-size: 200%;
  font-style: bold;
}

h2 {
  font-size: 170%;
  font-style: bold;
	border-width:0 0 1px 0;
	border-style:solid;
	background-color: #666666;
	border-color:#E2DCC8; /*BO4*/
}
h3 {
  font-size: 135%;
}
